/*
Theme Name: Parade Riposte 2
Author: Rowin
GitLab Theme URI: https://framagit.org/Rowin/parade-riposte
GitLab CE: https://framagit.org
Author URI: http://anhydride-acide.fr
Version: 1.0.0

 Copyright 2017 Rowin <rowin@anhydride-acide.fr>

 This file is part of Parade-Riposte 2.

    Parade-Riposte 2 is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Parade-Riposte 2 is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Parade-Riposte 2.  If not, see <http://www.gnu.org/licenses/>.
*/


/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: Delicious;
    src: local("Delicious"),
    url("resources/fonts/Delicious-SmallCaps.otf");
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: local("Ubuntu Condensed"),
    url("resources/fonts/UbuntuCondensed-Regular.ttf");
}

body {
    background-color: #151a3d/*#2d3c5a*/;
    font-family: 'Ubuntu Condensed', sans-serif;
}

a {
    color: #2d3c5a;
}

/* HEADER */
header {
    min-height: 160px;
    margin-bottom: 20px;
    
    position: relative /* Relative positioning for absolute children */
}

/* MENU */
header a {
    color: inherit;
}

header nav {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);

    bottom: 0;    
    position: absolute;
    
    font-family: Delicious, sans-serif;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    
    padding: 5px;
}

header nav ul li {
    list-style: none;
    font-size: larger;
    margin: auto;
}

header nav ul li:hover {
    text-shadow: 0px 0px 3px;
}

/* MAIN CONTENT */
img.attachment-post-thumbnail {
    margin-bottom: 2%;
}

main {
    
}

p {
    margin-bottom: 2%;
}

p:first-child {
    margin-top: 0;
}

a {
    color: #2222aa;   
}

main section {
    background-color: #ffffff;
    
    padding: 1%;
    margin-bottom: 20px;
}

main section:last-child {
    margin-bottom: 0;
}

main section h2 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    display: inline-block;
}

main section h2 a {
    color: inherit; 
}

main section h2 a:hover {
    text-decoration: underline;
}

main section h1 {
    font-size: x-large;
    
    border-bottom: 1px solid gray;
}

main section article {
    padding: 1%;
    text-align: justify;
}

main section article div.wp-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

main section article p.wp-caption-text {
    text-align: center;
    font-size: 0.8em;
    color: gray;
    font-style: italic;
}

main section h3 {
    font-weight: bold;
    font-size: larger;
}

    /* Table */
main section article table {
    /*border: 1px solid gray;*/
    border-collapse: collapse;
    
    width: 100%;
    margin: 0.5%;
    
    vertical-align: middle;
}

main section article td {
    border-bottom: 1px solid gray;
    padding: 0.5%;
    
    vertical-align: middle;
}

main section article th {
    border-bottom: 1px solid gray;
    padding: 1%;
    
    vertical-align: middle;
    
    font-weight: bolder;
    font-size: smaller;
    color: white;
    
    background-color: #2d3c5a;
}

img.aligncenter {
    display: block;
    margin: auto;
}

table.aligncenter td, table.aligncenter th{
    text-align: center;
}

main section article a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main section article tr:nth-child(even) {
    background-color: #f2f2f2;
}

main section article tr:hover {
    background-color: #f5f5f5; 
}

main section article span.date {
    font-size: small;
    text-align: left;
}

main section article img.attachment-post-thumbnail {
    margin-left: -2%;
    display: block;
}

.pratique-childs ul {
    list-style-type: inherit;
    padding: 1%;
}

.pratique-childs li {
    list-style-type: inherit;
    list-style: inherit;
}

/* SIDEBAR */
aside {
   
}

aside h2 {
    text-align: center;
}

aside section {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

aside section h2 {
    padding: 5px;
    font-weight: bold;
    background-color: #ccc;
    
    margin-bottom: 5px;
}

aside section:last-child{
    margin-bottom: 0; 
}

aside img {
    text-align: center;
}

    /* Calendrier */

aside section .event {
    color: #fafafa;
    background-color: #000000;
    padding: 5px;
    
    margin-bottom: 5px;
}

aside section .event:hover {
    background-color: #222;
}

aside section .event:last-child {
    margin-bottom: 0;
}

aside section .event-name {
    display: block;
}

aside section .event-date, aside section .event-location {
    font-size: smaller;
}

aside section .event a {
    display: block;
    width: 100%;
    height: 100%;
    
    color : inherit;
}
    /* Sponsors */
aside section.sponsors {
    text-align: center;
}

aside section img.sponsors {
    display: block;
    margin: auto;
    margin-top: 10px;
}
    
aside section .textwidget {
    text-align: center;
}
/* FOOTER */

footer {
    background-color: #000000;
    color: #fafafa;
    
    text-align: center;
    
    font-size: small;
    
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

/* SPONSORS PAGE*/
section.sponsors {
    text-align: center;
}

section h1 {
    text-align: justify;
}

section.sponsors h2 {
    display: block;
}

section.sponsors figure {
    margin-bottom: 5%;
}


